<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <header>
        <div class="bg-[#454F5B] py-[10px] text-[#FFFFFF]">
            <div class="container flex items-center ">
                <div></div>
                <div>
                    <p>Скидка 10% по промокоду “ZAMOK” на все заказы до 10.09</p>
                </div>
                <div>
                    <a href="#">
                        Обратный звонок
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>