@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #000;
}

.active{
    color: #8F7EDC;
}
.btn{
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
img{
    max-width: 100%;
}
h1{
    font-weight: 800;
    font-size: 48px;
}

.container{
    max-width: 1280px; 
    margin: 0 auto;
    padding: 0 20px;
}